<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <!-- Adiciona um ícone de menu ao botão -->
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Categorias</ion-title>
  </ion-navbar>

</ion-header>


<!-- Faz a lista com os nomes das categorias -->
<ion-content padding>
  <ion-list>
  <!-- Item da thumbnail -->
  <!-- *ngFor vai fazer um for com o tamanho da lista especificada, neste caso a lista é o items. -->
  <button ion-item *ngFor="let item of items">
    <ion-thumbnail item-start>
      <img src="assets/icon/rotulo.jpg">
    </ion-thumbnail>
    <h2> {{ item.nome }} </h2>
  </button>
</ion-list>

</ion-content>
